<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.seven.mapper.OrdersMapper">
	
	<select id="getOrderList" resultType="com.seven.domain.OrdersBean">
		select orders.orders_num, orders.orders_date, orders.orders_address, orders.orders_status, orders.orders_count, orders.product_num
		from orders right join product 
		on orders.product_num = product.product_num 
		where orders.member_id = #{member_id}
		order by orders_date desc;
	</select>
	
	<select id="getProductOrderList" resultType="com.seven.domain.ProductBean">
		select product.product_title, product.product_price, product.product_image, product.product_num
		from orders left join product 
		on orders.product_num = product.product_num 
		where orders.member_id =  #{member_id}
		order by orders_date desc;
	</select>

</mapper>